<input type="file" (change)="readFile($event)">
<div class="container" *ngIf="simpleList.length > 0">
    <div class="dndPlaceholder col-md-12" #placeholder></div>
    <div class="row">
        <div *ngFor="let list of simpleList; let i = index" class="col-md-6" [dndList] [dndPlaceholder]="placeholder" [dndModel]="simpleList[i]">
            <div *ngFor="let item of simpleList[i]"
                class="col-md-12"
                [dndType]="'item'"
                (dndMoved)="removeItem(item, simpleList[i])"
                [dndDraggable]
                [dndObject]="item">
                {{item}}
            </div>
                <!-- [dndDragDisabled]="i === 0" -->
            <button (click)="download(i)">Download</button>
        </div>
        <div (click)="changeOrder('Role', 1)">Change order</div>
    </div>
</div>
