<input type="file" (change)="readFile($event)">
<div class="container" *ngIf="fileSet.files?.length > 0">
    <div class="dndPlaceholder col-md-12" #placeholder></div>
    <div class="row">
        <div *ngFor="let header of fileSet.headers">
            {{ header}}
        </div>
        <div (click)="swapHeaders(3, 1, 0)">change order</div>
        <div *ngFor="let files of fileSet.files; let i = index" class="col-md-6" [dndList] [dndPlaceholder]="placeholder" [dndModel]="fileSet.files[i]">
            <div *ngFor="let row of files; let j = index"
                class="col-md-12"
                [dndType]="'row'"
                (dndMoved)="removeItem(row, files)"
                [dndDraggable]
                [dndObject]="row">
                <span *ngFor="let cell of row">
                    {{ cell }}
                </span>
                <span (click)="editRow(row, i)">edit</span>
            </div>
            <button (click)="download(i)">Download</button>
        </div>
    </div>
</div>

<div class="form-container" *ngIf="showForm && rowForm">
    <h3>Edit row</h3>
    <div [formGroup]="rowForm">
        <div *ngFor="let control of getControlNames(rowForm.controls)">
            <input type="text" [formControlName]="control">
        </div>
    </div>
    <div (click)="saveEditedRow()">save</div>
</div>
