.set-container {
    width: 90%;
    margin: auto;
}

.title {
    display: flex;
    justify-content: space-between;
}

.files-container {
    display: flex;
    flex-wrap: wrap;
}

.file-row-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 45%;
    margin: 10px 15px;
}

.file-row {
    padding: 15px 10px;
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    cursor: move;
}

.dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(86, 61, 124, .2);
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.file-row {
    display: flex;
}

.cell {
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 0;
}

.bold-cell {
    font-weight: bolder;
}

.header-row {
    cursor: initial;
}

:host /deep/ mat-form-field {
    .mat-form-field-infix {
        width: 30px;
    }
}

.zmdi-edit {
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.5);
    }
}

.download {
    text-align: right;
    margin: 10px;
}
