<mat-toolbar color="primary">File set</mat-toolbar>
<div class="set-container">
    <div class="title">
        <h3>upload upto 4 files <input [style.display]="'none'" type="file" #importfile (change)="readFile($event)"> <button  (click)="importfile.click()" mat-raised-button color="accent">Upload</button></h3>
    </div>

    <div *ngIf="pageReady">
        <div class="dndPlaceholder col-md-12" #placeholder></div>
        <div>
            <div *ngFor="let header of fileSet.headers">
                {{ header}}
            </div>
            <div (click)="swapHeaders(3, 1, 0)">change order</div>
            <div class="files-container">
                <div *ngFor="let files of fileSet.files; let i = index" class="file-row-container" [dndList] [dndPlaceholder]="placeholder" [dndModel]="fileSet.files[i]">
                    <div *ngFor="let row of files"
                        class="file-row"
                        [dndType]="'row'"
                        (dndMoved)="removeItem(row, files)"
                        [dndDraggable]
                        [dndObject]="row">
                        <span *ngFor="let cell of row">
                            {{ cell }}
                        </span>
                        <span (click)="editRow(row, i)">edit</span>
                    </div>
                    <button (click)="download(i)">Download</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-container" *ngIf="showForm && rowForm">
        <h3>Edit row</h3>
        <div [formGroup]="rowForm">
            <div *ngFor="let control of getControlNames(rowForm.controls)">
                <input type="text" [formControlName]="control">
            </div>
        </div>
        <div (click)="saveEditedRow()">save</div>
    </div>
</div>
