<h1 mat-dialog-title>Edit row</h1>
<div mat-dialog-content>
    <div [formGroup]="rowForm">
        <div *ngFor="let control of getControlNames(rowForm.controls)">
            <mat-form-field class="full-width">
                <input matInput [formControlName]="control">
            </mat-form-field>
        </div>
        <div class="action" mat-dialog-actions>
            <button mat-button [mat-dialog-close]="rowForm.value">No Thanks</button>
            <button mat-button cdkFocusInitial [mat-dialog-close]="rowForm.value">Ok</button>
        </div>
    </div>
</div>
